<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>622211461510-4467p5f3hag9djlv03pdvo73003rlr7j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.622211461510-4467p5f3hag9djlv03pdvo73003rlr7j</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>622211461510-rdvi8sth7lkglj87q3fau5ohd8cdvosr.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBTpxAiXIV7YhV6EJmyNkEz21oBDeugpss</string>
	<key>GCM_SENDER_ID</key>
	<string>622211461510</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.CarRental</string>
	<key>PROJECT_ID</key>
	<string>carrental-15844</string>
	<key>STORAGE_BUCKET</key>
	<string>carrental-15844.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:622211461510:ios:0a2b4f02088a9a9710bc07</string>
</dict>
</plist>